.card-dash{
background-color: #060f4c;
}

.card-body-dash{
background-color: #060f4c;
border-color: #b1b1b1;
color: white;
}

.text-principal{
    color:#062b9b;
    font-weight:bolder;
}

.text-secundario{
    color: #0d3dce;
    font-weight:bolder;
}

.pdis{
    padding-left: 5px;
    color: rgb(99, 99, 99);
}

.text-labels{
    color:rgb(83, 82, 82);
    font-weight:600;
    padding-left: 20px;
}

.cursor-pointer {
  cursor: pointer;
   }

.p-modal{
    padding: 30px;
}