.card-dash{
background-color:  #2b52c9ff;
}

.card-dash-primary{
background-color:#02c272;
  color: #ffffff;
}

.card-dash-secondary{
background-color: #eb143f;
  color: #ffffff;
}
.card-dash-time{
background: #0094d8;
  color: #ffffff;
}

.card-dash-health{
background: #2b52c9ff;
  color: #ffffff;
}

.card-dash-advert{
background: #f1a500;
  color: #ffffff;
}

.card-dash-critical{
background: rgb(207, 39, 39);
  color: #ffffff;
}


.card-body-dash{
background-color: #f9f9fa;
border-color: #c4c1c1d5;
color: #535355;
}

.text-principal{
    color: #01398b;
    font-weight:bolder;
    padding-top:  10px;
    padding-bottom: 10px;
}

.text-secundario{
    color: #0243a3;
    font-weight:bolder;
}

.pdis{
    padding-left: 5px;
    color: rgb(99, 99, 99);
}

.text-labels{
    color:rgb(83, 82, 82);
    font-weight:600;
    padding-left: 20px;
}

.cursor-pointer {
  cursor: pointer;
   }

.p-modal{
    padding: 30px;
}

.mensaje_ne{
color: #5881a7ff;
font-size: 18px; 
font-weight: bold;
padding-left: 10px;
}

.text-card-m{
    font-size: 13px;
}

.bg-login{
    background-color: white;
}

.bienvenida{
    opacity: 0.6;       /* tono más opaco */
    margin-right: 5px;  /* espacio entre "Bienvenido" y "Admin" */
    font-weight: normal; /* peso de fuente normal */
    font-size: 12px;
    text-transform: none;
    display: block;
    padding-left: 10px;
    color:white;
}

.admin-text{
    font-weight:700;  /* peso de fuente más grueso */
    font-size: 14px;
    color:white;
    padding-left: 0px;
    text-transform: uppercase; /* mayúsculas */
    display: block;
    padding-bottom: 10px;
}

.estado-salud-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  color: #1A2A67; /* puedes cambiarlo */
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: bold;
}

