{% extends 'base.html' %}
{% block title %}Eventos de Dispositivos{% endblock %}
{% block content %}                    
                    <!-- Page Heading -->
                     <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-2 text-secundario">Eventos de Dispositivos</h1>
                    </div>

                    <!-- Tarjetas de eventos -->
                   <div class="row">
                   <div class="col-12 mb-2">
                   <div class="card shadow">
                    <div class="card-body">
                        <h6 class="m-0 font-weight-bold text-primary">PC1</h6> 
                        <p class="card-text">"Dispositivo desactivado"
                        <br>Ubicación:
                        </p>
                    </div>
                    </div>
                    </div>

                    <div class="col-12 mb-2">
                     <div class="card shadow">
                    <div class="card-body">
                        <h6 class="m-0 font-weight-bold text-primary">PC1</h6> 
                        <p class="card-text">"Dispositivo desactivado"
                        <br>Ubicación:
                        </p>
                    </div>
                    </div>
                    </div>


                    <div class="col-12 mb-2">
                     <div class="card shadow">
                    <div class="card-body">
                        <h6 class="m-0 font-weight-bold text-primary">PC1</h6> 
                        <p class="card-text">"Dispositivo desactivado"
                        <br>Ubicación:
                        </p>
                    </div>
                    </div>
                    </div>

                    </div>

                    

      {% endblock %}