{% extends 'base.html' %}
{% block title %}Panel de Monitoreo{% endblock %}
{% block content %}
  
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-principal">Salud de la Red del Centro de Cómputo</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        {% for dispo in disponibilidad %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-primary">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-card-m font-weight-bold mt-1 mb-1 text-left">Dispositivos Activos</div>
                                            <div class="h4 mb-0 font-weight-bold">
                                              {{ dispo[0] }}</div>
                        
                                            </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x" style="color: #ffffffff;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-secondary">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                             <div class="text-card-m font-weight-bold mt-1 mb-1">Dispositivos Inactivos</div>
                                            <div class="h4 mb-0 font-weight-bold">
                                                {{ dispo[1] }}</div>
                                        </div>

                                        <div class="col-auto">
                                            <i class="fas fa-times-circle fa-2x" style="color:  #ffffffff;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-time">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                    
                                        <div class="col mr-2">
                                            <div class="col-auto">
                                                    <div class="text-card-m font-weight-bold mt-2 mb-1 pl-0">Ultimo Monitoreo</div>
                                            </div>
                                            <div class="h6 mb-1 mt-2 font-weight-bold">{{ umonitoreo }}
                                            </div>
                            
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x" style="color:  #ffffffff;;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 {% if salud_general == "Saludable" %} card-dash-health {% elif salud_general  == "Degradada" %} card-dash-advert {% else %} card-dash-critical {% endif %}">
                                <div class="card-body">
                                    <div class="estado-salud-badge">
                                        {{ salud_general }}
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-card-m font-weight-bold mt-2 mb-1">Salud General</div>
                                            <div class="h5 mt-1 mb-0 font-weight-bold">
                                                {{ porcentaje_salud }}%</div>
                                        </div>
                                        <div class="col-auto pt-7">
                                            {% if salud_general == "Saludable" %}
                                            <i class="far fa-laugh-beam fa-2x" style="color: #ffffffff"></i>
                                            {% elif salud_general  == "Degradada" %}
                                            <i class="far fa-smile-beam fa-2x" style="color: #ffffffff;"></i>
                                            {% else %}
                                            <i class="far fa-frown-open fa-2x" style="color: #ffffffff;"></i>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4 card-body-dash">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secundario"><i class="fas fa-chart-line"></i> Latencia de la Red en Tiempo Real (ms)</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between card-dash">
                                    <h6 class="m-0 font-weight-bold text-white">Ultimos Eventos</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="">
                                    <ul class="list-group list-group-flush">
                                        {% for dev in ultimo_deventos %}
                                        <li class="list-group-item">
                                             
                                            <strong class="text-xs"> {% if dev[2] == "Estado Crítico" %}
                                            <i class="fas fa-times-circle fa-lg" style="color: #da1010;"></i>
                                            {% elif dev[2] == "Advertencia" %}
                                            <i class="fas fa-exclamation-circle fa-lg" style="color: #FFD43B;"></i>
                                            {% else: %}
                                            <i class="fas fa-check-circle fa-lg" style="color: #28da10;"></i>
                                             {% endif %}{{ dev[5] }} </strong>  
                                             <strong class="text-xs"> - {{ dev[3] }}</strong> <br>
                                            <small class="text-muted text-sm">{{ dev[4] }}</small>
                                        </li>
                                        {% else %}
                                        <li class="list-group-item text-muted">Sin eventos recientes</li>
                                        {% endfor %}
                            
                                    </ul>
                                    <a class="dropdown-item text-center small text-gray-500" href="/eventos/dispositivos">Ver Todos los Eventos</a>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Server Migration <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sales Tracking <span
                                            class="float-right">40%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Customer Database <span
                                            class="float-right">60%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 60%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Payout Details <span
                                            class="float-right">80%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Account Setup <span
                                            class="float-right">Complete!</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Color System -->
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-primary text-white shadow">
                                        <div class="card-body">
                                            Primary
                                            <div class="text-white-50 small">#4e73df</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            Success
                                            <div class="text-white-50 small">#1cc88a</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-info text-white shadow">
                                        <div class="card-body">
                                            Info
                                            <div class="text-white-50 small">#36b9cc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-warning text-white shadow">
                                        <div class="card-body">
                                            Warning
                                            <div class="text-white-50 small">#f6c23e</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            Danger
                                            <div class="text-white-50 small">#e74a3b</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body">
                                            Secondary
                                            <div class="text-white-50 small">#858796</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-light text-black shadow">
                                        <div class="card-body">
                                            Light
                                            <div class="text-black-50 small">#f8f9fc</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-dark text-white shadow">
                                        <div class="card-body">
                                            Dark
                                            <div class="text-white-50 small">#5a5c69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <p>Add some quality, svg illustrations to your project courtesy of <a
                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                        constantly updated collection of beautiful svg images that you can use
                                        completely free and without attribution!</p>
                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                        unDraw &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% endblock %}



        

         