{% extends 'base.html' %}
{% block title %}Panel de Monitoreo{% endblock %}
{% block content %}
  
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-principal">Salud de la Red del Centro de Cómputo</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-primary">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-card-m font-weight-bold mt-1 mb-1 text-left">Dispositivos Activos</div>
                                            <div class="h4 mb-0 font-weight-bold">
                                              {{ activos }}</div>
                        
                                            </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x" style="color: #ffffffff;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-secondary">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                             <div class="text-card-m font-weight-bold mt-1 mb-1">Dispositivos Inactivos</div>
                                            <div class="h4 mb-0 font-weight-bold">
                                                {{ inactivos }}</div>
                                        </div>

                                        <div class="col-auto">
                                            <i class="fas fa-times-circle fa-2x" style="color:  #ffffffff;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 card-dash-time">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                    
                                        <div class="col mr-2">
                                            <div class="col-auto">
                                                    <div class="text-card-m font-weight-bold mt-2 mb-1 pl-0">Ultimo Monitoreo</div>
                                            </div>
                                            <div class="h6 mb-1 mt-2 font-weight-bold">{{ umonitoreo }}
                                            </div>
                            
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x" style="color:  #ffffffff;;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2 {% if salud_general == "Saludable" %} card-dash-health {% elif salud_general  == "Degradada" %} card-dash-advert {% else %} card-dash-critical {% endif %}">
                                <div class="card-body">
                                    <div class="estado-salud-badge">
                                        {{ salud_general }}
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-card-m font-weight-bold mt-2 mb-1">Salud General</div>
                                            <div class="h5 mt-1 mb-0 font-weight-bold">
                                                {{ porcentaje_salud }}%</div>
                                        </div>
                                        <div class="col-auto pt-7">
                                            {% if salud_general == "Saludable" %}
                                            <i class="far fa-laugh-beam fa-2x" style="color: #ffffffff"></i>
                                            {% elif salud_general  == "Degradada" %}
                                            <i class="far fa-smile-beam fa-2x" style="color: #ffffffff;"></i>
                                            {% else %}
                                            <i class="far fa-frown-open fa-2x" style="color: #ffffffff;"></i>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4 card-body-dash">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secundario">Distribución del Estado de los Dispositivos</h6>
                                </div>
                                <!-- Card Body -->
                                 <!-- Card Body -->
                                <div class="card-body">
                                    <div class="">
                                        <canvas id="distribucion_dispositivos"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="./static/js/graficas.js"></script>
                                        <script>
                                            // Llamas solo las gráficas que existan en esta página
                                            crearGraficaDispositivos(pct_normales={{ pct_normales }}, pct_advertencias={{ pct_advertencias }}, pct_criticos={{ pct_criticos }});
                                        </script>
                                </div>

                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4 border-1">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-center">
                                    <h6 class="m-0 font-weight-bold text-secundario">Disponibilidad General</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="">
                                        <canvas id="disponibilidad_general"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="./static/js/graficas.js"></script>
                                        <script>
                                            // Llamas solo las gráficas que existan en esta página
                                            crearGraficaDisponibilidad(pct_disponibilidad={{ pct_disponibilidad }}, pct_nodisponibilidad={{ pct_nodisponibilidad }});
                                        </script>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="row">

                        <!-- Area Chart -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4 card-body-dash border-0">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secundario"> Promedio de Latencia por Tipo de Dispositivo</h6>
                                </div>
                                <!-- Card Body -->
                                 <!-- Card Body -->
                                <div class="card-body">
                                    <div class="">
                                        <script>
                                            const tipos = {{ tipos | tojson }};
                                            const latencias = {{ latencias | tojson }};
                                            const perdidas = {{ perdidas | tojson }};
                                        </script>
                                        <canvas id="latencia_promedio"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="./static/js/graficas.js"></script>
                                        <script>
                                            // Llamas solo las gráficas que existan en esta página
                                            crearGraficaLatencia(tipos, latencias);
                                        </script>
                                </div>

                                </div>
                            </div>
                        </div>
                        <!-- Area Chart -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4 card-body-dash border-0">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secundario"> Promedio de Perdida de Paquetes por Tipo de Dispositivo</h6>
                                </div>
                                <!-- Card Body -->
                                 <!-- Card Body -->
                                <div class="card-body">
                                    <div class="">
                                        <script>
                                            const tipos = {{ tipos | tojson }};
                                            const perdidas = {{ perdidas | tojson }};
                                        </script>
                                        <canvas id="perdidas_promedio"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="./static/js/graficas.js"></script>
                                        <script>
                                            // Llamas solo las gráficas que existan en esta página
                                            crearGraficaPaquetes(tipos, perdidas);
                                        </script>
                                </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>


                    

                    {% endblock %}



        

         