 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-10">
                    <img src="/static/img/Tucan2-.png" alt="Tucán" width="52" class="rounded-circle">  
                </div>
                <div class="sidebar-brand-text mx-2">
                    Admin
            </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                     <i class="fas fa-fw fa-tachometer-alt" style="color:  #C9D1D9"></i>
                    <span>Panel</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Dispositivos
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
                <a class="nav-link" href="/admin/dispositivos">
                    <i class="fas  fa-fw far fa-desktop" style="color: #C9D1D9;"></i>
                    <span>Administrar Dispositivos</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
                <a class="nav-link" href="/monitoreo/dispositivos">
                   
                    <i class="fas fa-broadcast-tower" style="color:  #C9D1D9"></i>
                    <span>Monitoreo de Dispositivos</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Alertas
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/eventos/dispositivos">
                    <i class="fas fa-clipboard-list" style="color: #FFC857;"></i>
                    <span>Eventos</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/criticos/dispositivos">
                    <i class="fas fa-exclamation-triangle" style="color: #ab1303;"></i>
                    <span>Dispositivos Críticos</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->