 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-start justify-content-md-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-10 pl-0">
                    <img src="/static/img/Tucan2-.png" alt="Tucán" width="50" class="rounded-circle">  
                </div>
            </a>
             <div class="sidebar-brand-text mx-1 align-items-center justify-content-md-center d-flex flex-column">
                    <span class="bienvenida">Bienvenido</span> 
                    <span class="admin-text">Admin</span>
            </div>

                <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                     <i class="fas fa-fw fa-th-large"></i>
                    <span>Panel</span></a>
            </li>

         
            <!-- Heading -->
            <div class="sidebar-heading">
                Dispositivos
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
                <a class="nav-link" href="/admin/dispositivos">
                    <i class="fas  fa-fw far fa-desktop" style="color: #ffffffff;"></i>
                    <span>Administrar Dispositivos</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
                <a class="nav-link" href="/monitoreo/dispositivos">
                   
                    <i class="fas fa-wave-square" style="color:  #ffffffff"></i>
                    <span>Monitoreo de Dispositivos</span></a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Alertas
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/eventos/dispositivos">
                    <i class="fas fa-bell" style="color: #ffffffff;"></i>
                    <span>Eventos</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/criticos/dispositivos">
                    <i class="fas fa-exclamation-circle" style="color: #ffffffff;"></i>
                    <span>Dispositivos Críticos</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->